{% extends "layout.html" %}
{% block body %}

  <div class = "buttonarea">
    <!--
    <form action="{{ url_for('get_menus') }}" method=get class=add-entry>
      <button type=submit name=get value=Get class = "btn">ガチャを回す</button>
    </form>
  -->
    <a href="/get" class="btn">ガチャを回す</a>
  </div>


  <div class="result">
    {% for menu in menus %}
    <div class="box menu">
      <a href= {{menu.url}} target="_blank"><h2>{{ menu.name }}</h2></a>
        <p>{{ menu.price }}円<p>
    </div>
    {% else %}
    {% endfor %}
    {% if menus %}
    <div class="box rst">
      <h2>計 {{ budget }}円</h2>
    </div>
    {% endif %}

  </div>
  <div class="footer">
    <a href="https://twitter.com/share" class="twitter-share-button"  data-url="https://game-market-2000gacha.herokuapp.com/" data-text="{{ text }}" data-lang="ja" data-count="horizontal" data-hashtags="ゲムマ2000円ガチャ, ゲムマ非公式">Tweet</a>
  </div>
{% endblock %}
